<h4>v1.0:&nbsp&nbsp&nbspInitial Release</h4>
<h4>v1.1:&nbsp『PID搜尋地點』新增Distnace/Duration欄位 (使用Google MAP Distance Matrix API)</h4>
<h4>v1.2:&nbsp&nbsp&nbsp新增搜尋景點顯示地圖 (使用Google MAP Javascript API)</h4>
<h4>v1.3:&nbsp『關鍵字搜尋地點』『PID搜尋地點』新增加 next_page_token</h4>
<h4>v1.4:&nbsp&nbsp&nbspModify API URL path (add version control)</h4>
<h4>v1.5:&nbsp&nbsp&nbspSeperate API backend and View frontend to two sites</h4>
<h4>v1.6:&nbsp&nbsp&nbsp新增『搜尋下一頁』 </h4>
<h4>v1.7:&nbsp&nbsp&nbsp新增最遠兩點距離計算 </h4>