<div class="jumbotron">
  <div class="index-container">
    <h2 style="margin-top: 0">搜尋地點</h2>
    <div class="row">
      <div class="col-xs-9">
        <%= form_tag '/keyword', method: :post do %>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="gmap_search_input" name="str"  style="width: 80%; border-radius: 5px;">
            <select id="gmap_search_select" class="selectpicker form-control input-lg" name="opt"  style="width: 20%">
              <option>景點</option>
              <option>餐廳</option>
              <option>購物</option>
            </select>
            <div class="input-group-btn">
              <%= button_tag class:"btn btn-lg btn-default" do %>
                 <span class="glyphicon glyphicon-search" style="top:3px;"></span>
              <% end %>             
            </div>
          </div> 
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<%= render "json_example" %>