// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.table-borderless thead tr th {
  border: none;
}

table.table-borderless tbody tr td {
  vertical-align: middle;
}

table#stat thead tr th {
  font-size: 1.2em;
  font-weight: bold;
}

table#stat thead tr th:nth-child(2) {
  text-align: center;
}
table#stat tbody tr td:nth-child(2) {
  text-align: center;
}
table#stat thead tr th:nth-child(3) {
  text-align: center;
}
table#stat tbody tr td:nth-child(3) {
  text-align: center;
}
table#stat thead tr th:nth-child(4) {
  text-align: center;
}
table#stat tbody tr td:nth-child(4) {
  text-align: center;
}
table#stat thead tr th:nth-child(5) {
  text-align: center;
}
table#stat tbody tr td:nth-child(5) {
  text-align: center;
}
table#stat thead tr th:nth-child(6) {
  text-align: center;
}
table#stat tbody tr td:nth-child(6) {
  text-align: center;
}
table#stat thead tr th:nth-child(7) {
  text-align: center;
}
table#stat tbody tr td:nth-child(7) {
  text-align: center;
}
table#stat thead tr th:nth-child(8) {
  text-align: center;
}
table#stat tbody tr td:nth-child(8) {
  text-align: center;
}
#detail-well h5 {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
}

#openhour h5 {
  font-size: 0.9em;
  font-weight: 300;
}

div.media-body h4 {
  font-weight: 300;
  line-height: 1.3em;
}

#index-h4 h4 {
  font-weight: 300;
  line-height: 1.3em;  
}

#detail-label {  
  position: relative;
  top: -6px;
}

#detail-label span{
  margin-left: 10px;
  font-size: 0.45em;
}

#detail-label span a:hover{
  text-decoration: none;
}