<nav class="navbar navbar-default" style="margin: 0; padding: 30px; background-color: #eeeeee; height: 110px; border: 0;">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "幫旅(遊)", root_path, class: "navbar-brand", style:"font-size: 1.8em;" %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse"> 
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "統計資料", statistics_path, style:"font-size: 1.3em;" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

